.actionButton {
    width: 100%;
    background-color: #09bdffd7;
    border: 1px solid #09bdffd7;
    border-radius: 0.25rem;
    font-weight: 500;
    letter-spacing: 0.07rem;
}

.actionButton:hover {
    border: 1px solid black;
}

.secondaryText {
    font-size: 11px;
    color: gray;
}

.secondaryTextBlack {
    font-size: 11px;
    color: black;
}

.alert {
    width: 100%;
}

.spinnerWrapper {
    display: flex;
    height: 5em;
    justify-content: center;
    align-items: center;
}

.spaceAround {
    display: flex;
    justify-content: space-around;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.textCenter {
    text-align: center;
}

.rowAlignCenter {
    align-items: center;
}

.alignSelfCenter {
    align-self: center;
}

.maxThreeLines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
