.actionButton {
    width: 100%;
    background-color: #09bdffd7;
    border: none;
    border-radius: 0.25rem;
    font-weight: 500;
    letter-spacing: 0.07rem;
}

.secondaryText {
    font-size: 11px;
    color: gray;
}

.alert {
    width: 100%;
}

.spaceAround {
    display: flex;
    justify-content: space-around;
}

.rowAlignCenter {
    align-items: center;
}

.maxThreeLines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
