/* Overview list */
.listElement {
    margin-top: 1rem;
    cursor: pointer;
    padding: 0.25rem 0;
}

.listElement:hover {
    border-bottom: 1px solid #c4ecff;
}

.listElement > p {
    margin: 0 !important;
}

.listElementTitle {
    padding-bottom: 0.25rem;
    font-weight: bold;
}
